<div id="header">
  <div class="nav">
    <ul>
      <li class="button">
        <a href="/plans/" class="blue awesome"> Show all</a>
      </li>
      <li class="button">
        <a href="/plans/new" class="blue awesome"> Add new</a>
      </li>
    </ul>
  </div>
</div>